{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block css %}
        {% include 'mainapp/includes/inc_static.html' %}
    {% endblock %}
    <title>
        {% block title %} default page {% endblock %}
    </title>

</head>
<body>

<ul class="menu">
        <li><a href="{% url 'main_page' %}">Home</a></li>
        <li><a href="{% url 'products' %}">Products</a></li>
        <li><a href="{% url 'contacts' %}">Contacts</a></li>
    </ul>
<h1 class="index">
    {% block name %} GH {% endblock %}
</h1>
<hr color="#4DB342" size="2">
{% block content %}
    2
{% endblock %}
{% block js %}
{% endblock %}
</body>
</html>