{% extends 'mainapp/base.html' %}
{% block title %}Главная{% endblock %}
{% block name %}Главная{% endblock %}

{% block content %}

<!--#{% include 'mainapp/includes/inc_area.html' %}-->
    <br>
    <h2>include ares 2 clock</h2>
    {% include 'mainapp/includes/inc_area2.html' %}
<hr>
Data from database
<hr>
    {% for category in full_catalog %}
        <li>{{ category.name }} {{ category.slug }}
          <a href="/catalog/{{category.slug}}">{{ category.name }}</a></li>
    {% endfor %}
<hr>

{% endblock %}
{% block js %}
    {% include 'mainapp/includes/inc_js.html' %}
{% endblock %}

