{% extends 'mainapp/base.html' %}
{% block title %}Главная{% endblock %}
{% block name %}Главная{% endblock %}

{% block content %}

    <div>Привет {{ user.name|title }}!</div>
    <div>{% now 'Y'%}</div>
    {% if array|length > 0 %}
        <h2>'Число из массива: ' {{ array.2}}</h2>
    {% endif %}
    {% for item in array %}
        <h3>{{item}}</h3>
    {% endfor %}

    {% include 'mainapp/includes/inc_area.html' %}
    <br>
    <h2>include ares 2 clock</h2>
    {% include 'mainapp/includes/inc_area2.html' %}
{% endblock %}
{% block js %}
    {% include 'mainapp/includes/inc_js.html' %}
{% endblock %}

